/* Signin page styling */
*{
    box-sizing: border-box;
    margin-bottom: 0%;
}

body{
    background-color: #ECE5C7;
    position: relative;
    height: 90vh;
    margin:auto;   
}

#main{
    display:flex;
}

#form_id{
    display:flex;
    align-items: center;
    justify-content:center;
    width: 1000px;
    height: 815px;
}

h1{
    text-align: center;
    margin-top: 2%;
}
#siteTitle{
    text-align: center;
    font-family:fantasy;
}

#icon{
    display:flex;
    align-items: center;
    justify-content:center;
    width: 800px;
    height: 690px;
}


footer{
    /* display: flex; */
    background-color: #EBDACC;
    position: absolute;
    width: 100%;
    margin-bottom: 0%;
    text-align: center;
}

.w-100 , .btn , .btn-primary , .btn-lg{
    background-color: #8F542E !important;
}

input{
    background-color: #EBDACC !important;
    color: #8F542E !important; 
}