* {
    box-sizing: border-box;
  }

  .bordered_box,
  .left_children {
    border: 1px solid black;
  }

  #left {
    width: 25%;
  }

  #right {
    width: 70%;
  }

  main {
    display: flex;
    justify-content: space-around;
    height: 90vh;
  }

  .box {
    height: 100%;
  }

  #profile_pic {
    height: 32%;
  }

  #carosel {
    height: 68%;
  }
  #top_right_child {
    height: 20%;
  }

  #bottom_right_child {
    height: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }

  #right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .api_box {
    height: 49%;
    width: 32%;
  }

header{
    background-color: #EBDACC;
}

input{
    background-color: #EBDACC !important;;
}
body{
    background-color: #ECE5C7;
}


#cards_container{
    display:inline-flex;
    flex-direction:row;
    justify-content: space-between;
}

.card:hover .image img {
    transform: scale(1.5)
}

.btn {
    height: 140px;
    width: 140px;
    border-radius: 50%;
    background-color: #E4B1A5;
}

.name {
    font-size: 22px;
    font-weight: bold
}

.idd {
    font-size: 14px;
    font-weight: 600
}

.idd1 {
    font-size: 12px
}

.number {
    font-size: 22px;
    font-weight: bold
}


.btn1 {
    height: 40px;
    width: 150px;
    border: none;
    background-color: #8F542E;
    color: #aeaeae;
    font-size: 15px
}

.text span {
    font-size: 13px;
    color: #545454;
    font-weight: 500
}

.icons i {
    font-size: 19px
}

hr .new1 {
    border: 1px solid
}


  footer{
    /* display: flex; */
    background-color: #EBDACC;
    position: absolute;
    width: 100%;
    margin-bottom: 0%;
    text-align: center;
}

.card_bookmark, .card_note, .toDo{
  text-align: center;
  background-color:#EBDACC; ;
}

#bookmark{
  background-color:#EBDACC; ;
}

textarea{
  width:100% ;
  height:100%;
  background-color:#EBDACC;
}

#quotes-api{
  margin-top:70px; 
  text-align:center;
}

#my_notes{
  margin-right: 5px;
}